script
	var container,
			txtName,
			btnAdd,
			btnSave,
			itemDataKey = 'itemData',
			listID = '',
			initItem = !{JSON.stringify(item)};

	$(function(){
			container = $('#container');
			txtName = $('#txtName');
			btnAdd = $('#btnAdd');
			btnSave = $('#btnSave');

			txtName.focus();

			// see if we have initItem
			if (initItem && initItem.items) {
				for (var i = 0; i < initItem.items.length; i++) {
					makeItemElement(initItem.items[i]).appendTo('#container');
				}
				$('#link').html('');
				$('#linkTemplate').tmpl( { id: initItem.textID } ).appendTo('#link');
				$('#link').show();

				listID = initItem.textID;
			}

			container.sortable();

			txtName.on('keypress', btnAdd_KeyPress);
			btnAdd.on('click', btnAdd_Click);

			$('div.close-button').live('click', removeItem);

			btnSave.on('click', btnSave_Click);
	});

	function btnAdd_KeyPress(e) {
		e = e || window.event;
		if (e.keyCode === 13) {
			btnAdd.trigger('click');
		}
	}

	function btnAdd_Click(e) {
		if (txtName.val() !== '') {
			makeItem(txtName.val()).appendTo('#container');
			txtName.val('');
		}
	}

	function makeItem(name) {
		var itemData = { name: txtName.val() };
		return makeItemElement( itemData );	
	}

	function makeItemElement( itemData ) {
		return $('#item').tmpl( itemData ).data(itemDataKey, itemData);
	}

	function removeItem(e) {
		e = e || window.event;
		$(e.target).closest('div.item').remove();
	}

	function btnSave_Click(e) {
		e = e || window.event;
		var items = [];
		container.find('div.item').each(function( index, item ) {
			items.push( $(item).data( itemDataKey ) );
		});
		if (items.length > 0) {
			$.ajax({
				type: 'POST',
				contentType: 'application/json;charset=utf-8',
				data: JSON.stringify({ textID: listID, items: items }),
				dataType: 'json',
				success: function( data ) {
					if (data && data.data) {
						$('#link').html('');
						if (listID) {
							data.data.id = listID;
						}
						$('#linkTemplate').tmpl(data.data).appendTo('#link');
						$('#link').show();
						listID = data.data.id;
					}
				}
			});
		} else {
			alert('There are no items to save, silly!');
		}
	}

script#item(type="text/x-jquery-template")
	<div class="item">
	${name}
	<div class="close-button">X</div>
	</div>

script#linkTemplate(type="text/x-jquery-template")
	| Your list is available here: <a href="#{toAbsolute('/', req)}${id}">#{toAbsolute('/', req)}${id}</a>

h1= title
p Welcome to #{title}. Go for it.
p#link
input#txtName(type="text")
input#btnAdd(type="button", value="Add")
input#btnSave(type="button", value="Save")
div#container
